@import "reset";
@import "variables";

body {
  font-family: $poppins;
  background-color: $color-secondary;
  color: $color-text-light;
}
a {
  text-decoration: none;
  color: $color-text-link;
  &:hover {
    text-decoration: underline;
  }
}
.main-content {
  max-width: $widthApp;
  margin: 0 auto;
}
.form-container {
  background-color: $color-primary;
  border: 1px solid $color-border;
  border-radius: $border-radius;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  label {
    display: block;
    margin-bottom: 10px;
  }
  input {
    color: inherit;

    background-color: $color-secondary;
    border: 0px;
    padding: 5px 10px;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    outline: none;
  }
}
